<div class="row clearfix" ng-controller="app.views.sprints.sprintplanning.startSprint as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="padding:10px" class="card header">
                <h2 style="float:left;;margin:0">
                    @L("SprintPlanning")
                </h2>
                <ul style="list-style:none;float:right;margin:0" class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        <div class="col-xs-5">
            <div style="text-align:center;padding:14px" class="card col-xs-12">
                <div style="display:inline-block" ng-repeat="release in vm.releases">
                    <div ng-show="vm.current==$index" ng-click="vm.currentMain=$index">
                        <h5 style="margin:0">{{release.name}}</h5>
                    </div>
                </div>
                <div style="float:right;" ng-click="vm.rightClick()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                <div style="float:left;" ng-click="vm.leftClick()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
            </div>
            <div class="card col-xs-12">
                <div ng-include="'list.html'"></div>
            </div>
        </div>
        <div class="card col-xs-6">
            <h3>Sprint</h3>
            <div ng-include="'listSprint.html'"></div>
        </div>
    </div>
</div>

<style>
    
</style>

<script type="text/ng-template" id="list.html">
    <ul style="padding:0;list-style:none" dnd-list="vm.stories">
        <li style="display:inline-block;width:50%" class="list-item" ng-repeat="item in vm.stories"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="vm.stories.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="'item.html'">
        </li>
    </ul>
</script>

<script type="text/ng-template" id="listSprint.html">
    <ul style="padding:0;list-style:none" dnd-list="vm.storiesSprint">
        <li style="display:inline-block;width:100%" class="list-item" ng-repeat="item in vm.storiesSprint"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="vm.storiesSprint.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="'item.html'">
        </li>
    </ul>
</script>

<script type="text/ng-template" id="item.html">
    <div style="word-wrap: break-word;">
        <h5>
            {{item.name}}
        </h5>
        <p>
            <span class="content-story">{{item.description}}</span>
        </p>
    </div>
</script>