<div class="row clearfix" ng-controller="app.views.products.edit as vm"> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="padding:10px" class="card header">
            <h2 style="float:left;;margin:0">
                <a ui-sref="products" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a> {{vm.product.name}}
            </h2>
            <ul style="list-style:none;float:right;margin:0" class="header-dropdown m-r--5">
                <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh()"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="(zone,list) in vm.models.dropzones">
            <div style="margin-left:30px" ng-if="zone=='Product'" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 card">
                <div class="header">
                    <h2 style="float:left;margin:0">
                        {{zone}}
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div ng-include="'list.html'"></div>
                        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.createStory()">
                            +@L("UserStory")
                        </button>
                    </div>
                </div>
            </div>
            <div style="float:right;margin-right:30px" ng-if="zone=='Release'" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card dropzone">
                <div class="header">
                    <h2 style="float:left;margin:0">
                        {{zone}}
                    </h2>
                    <br>
                    <label>Name:</label>
                    <input type="text" ng-model="vm.release.name" class="form-control">
                    <label>Priority:</label>
                    <ui-select ng-model="vm.priorityRelease.selected" theme="bootstrap" title="Choose a person">
                        <ui-select-match placeholder="Select a priority...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="priority in vm.priorityRelease | filter: $select.search">
                            <div ng-bind-html="priority.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button ng-disabled="vm.priorityRelease.selected == null" type="submit" class="btn btn-primary waves-effect" ng-click="vm.releaseBacklog()">
                    +@L("Ship!")
                </button>
                @*<div class="body">*@
                    <div class="row">
                        <div ng-include="'list.html'"></div>
                    </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>

<style>
    .list-item{
        display:inline-block;
    }
    .item{
        margin: 5px;
    }
    .item-product {
        width: 50%;
        vertical-align: top;
    }
    .item-release {
        border: violet 1px solid;
        width: 100%;
        text-align: center;
        vertical-align: top;
    }

    .content-story {
        display: inline-block;
        width: 180px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    .nestedDemo .dropzone ul[dnd-list]{
        min-height:40px;
    }
    .nestedDemo .dropzone .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }
    .nestedDemo .dropzone .selected .item {
        color: #3c763d;
        background-color: #dff0d8;
    }
    .nestedDemo .dropzone .selected .box {
        border-color: #d6e9c6;
    }
    .nestedDemo .dropzone li {
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        padding: 0px;
    }

    /*ul li:last-child {
        color: Red;
    }*/

</style>

<script type="text/ng-template" id="list.html">
    <ul style="padding:0;min-height:60px" dnd-list="list">
        <li style="list-style:none;" ng-if="list.length == 0 && zone=='Release'">Drop Stories Here!</li>
        <li ng-class="zone=='Product' ? 'item-product' : 'item-release'" class="list-item" ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="vm.models.selected = item"
            ng-class="{selected: vm.models.selected === item}"
            @*ng-include="item.type + '.html'">*@
            ng-include="'item.html'">
        </li>
    </ul>
    <!-- pager -->
    <div ng-if="zone=='Product'" style="text-align:center">
        <ul ng-if="vm.pager.pages.length" class="pagination">
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                <a ng-click="vm.setPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="item.html">
    <div style="word-wrap: break-word;"  ng-class="zone=='Product' ? 'card-user' : 'card-release'">
        <span ng-if="zone=='Product'" style="cursor:pointer;float:right;color:red"><i ng-click="vm.deleteStory(item)" class="fa fa-times" aria-hidden="true"></i></span>
        <span ng-if="zone=='Product'" style="cursor:pointer;float:right;color:blue;margin-right:5px"><i ng-click="vm.openStoryModal(item)" class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <h5>
            {{item.name}}
        </h5>
        <p ng-if="zone=='Product'">
            <span class="content-story">{{item.description}}</span>
        </p>
    </div>
</script>

